{# TODO
    poprawić odległości po lewo i prawo okienka z wyborem
    sprawdzic mozliwosci wymiany scrolla
    odleglosci zakładek
#}
{% extends "base/base.html.twig" %}
{% block head %}
    <link href="{{ asset('charts/grid.css') }}" rel="stylesheet">
    <link href="{{ asset('schedule/grid.css') }}" rel="stylesheet">
    <script src="{{ asset('schedule/pdfChanger.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="main">
            <iframe src="http://wfi.uni.lodz.pl/plany/stacjonarne/informatyka/1-stopnia/INF_INZ_III_5sem.pdf#toolbar=0&navpanes=0&scrollbar=0"
                    class="pdf_viever" id="pdf"></iframe>
        </div>

        <div class="choose_pdf">
            {#            <h2>Wybierz swój plan</h2>#}

            <article class="tabs">

                {#iteruje po calej tablicy w content mam nazwe w keys mam elementy#}
                {% for content,keys in url %}

                    elo
                    <section id="tab{{ loop.index }}">
                        <h2>
                            <a href="#tab{{ loop.index }}">{{ content }}</a>
                        </h2>
                        <div class="list-type3">

                            <ol>


                                {% for content_li in keys %}
                                    <li>

                                        <button onclick="changePDF(this)" value="{{ content_li.url }}">

                                            {{ content_li.name }}
                                        </button>


                                    </li>

                                {% endfor %}
                            </ol>
                        </div>
                    </section>

                {% endfor %}

            </article>
        </div>

    </div>

{% endblock %}