{% extends "base/base.html.twig" %}
{% block head %}
    <link href="{{ asset('homepage/homepage.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main_content">
        <a class="main_content_box chart" href="{{ path('menuCharts') }}">

        </a>

        <a class="main_content_box schedule" href="{{ path('generate_schedule') }}">

        </a>

        <a class="main_content_box building" href="{{ path('building') }}">


        </a>

        <a class="main_content_box news" href="{{ path('news') }}">


        </a>

        <a class="main_content_box weather" href="{{ path('weather') }}">


        </a>

        <a class="main_content_box consultation" href="{{ path('consultation') }}">


        </a>


    </div>

{% endblock %}
