{% extends "base/base.html.twig" %}
{% block head %}
    <link href="{{ asset('homepage/homepage.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main_content">
        <a class="main_content_box chart" href="{{ path('menuCharts') }}">
            <div class="title_content">Wykresy</div>
        </a>

        <a class="main_content_box schedule" href="{{ path('generate_schedule') }}">
            <div class="title_content">Plan zajęć</div>
        </a>

        <a class="main_content_box building" href="{{ path('building') }}">
            <div class="title_content">Schemat budynków</div>


        </a>

        <a class="main_content_box news" href="{{ path('news') }}">

            <div class="title_content">Aktualności</div>
        </a>

        <a class="main_content_box weather" href="{{ path('weather') }}">
            <div class="title_content">Pogoda</div>

        </a>

        <a class="main_content_box consultation" href="{{ path('consultation') }}">

            <div class="title_content">Konsultacje</div>
        </a>


    </div>

{% endblock %}
