{% extends "base/base.html.twig" %}
{% block head %}
    <script src="{{ asset('Chart.min.js') }}"></script>
    <script src="{{ asset('charts/js/detailsChart.js') }}"></script>
    <link href="{{ asset('charts/grid.css') }}" rel="stylesheet">
    <link href="{{ asset('base/button.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}



    <div class="wrapper">

        <div class="main">
            <canvas id="myChart"></canvas>
        </div>
        <div class="customization">
            <div class="group">

                {% for name in names %}
                    {#tutaj jest sds temp 1 bo to jest dwór#}
                    <input type="radio" name="placed" id="{{ name.id }}" {% if name.name == 'SDS_OUTSIDE' %}

                        onclick="showOptional()"
                    {% else %}
                        onclick="hideOptional()"

                    {% endif %}
                            {# domyslna wartosc, to moze byc do zmiany#}
                            {% if name.name =='SDS_INSIDE' %}
                                checked="checked"
                            {% endif %}

                    />

                    <label for="{{ name.id }}">
                        {{ name.description }}

                    </label>


                {% endfor %}
                {#                <input type="radio" name="placed" id="small_aula" onclick="hideOptional()"/>#}
                {#                <label for="small_aula">Aula madsbsła</label>#}
                {#                <input type="radio" name="placed" id="big_aula" onclick="hideOptional()"/>#}
                {#                <label for="big_aula">Aula duża</label>#}
                {#                <input type="radio" name="placed" id="B172" onclick="showOptional()"/>#}
                {#                <label for="B172">B172</label>#}
                {#                <input type="radio" name="placed" id="gatehouse" onclick="hideOptional()"/>#}
                {#                <label for="gatehouse">Portiernia</label>#}
            </div>
            <div class="group">
                <input type="radio" name="type_chart" id="temperature" checked="checked"/>
                <label for="temperature">Temperatura</label>
                <input type="radio" name="type_chart" id="pressure"/>
                <label for="pressure">Ciśnienie</label>
                <input type="radio" name="type_chart" id="humidity"/>
                <label for="humidity">Wilgotność</label>

                <input type="radio" name="type_chart" id="pollution"/>
                <label for="pollution" class="optional">Zanieczyszczenie</label>

            </div>

            <div class="button">
                <a href="#" onclick="newChart();return false;">Generuj</a>
            </div>
        </div>
        <a href="{{ path('menuCharts') }}">
            <div class="back_button" style="position:absolute;top: 760px;height: 150px;left: 50px;">


            </div>
        </a>

    </div>


{% endblock %}
