{% extends "base/base.html.twig" %}
{% block head %}
    <script src="{{ asset('Chart.min.js') }}"></script>

    <script src="{{ asset('charts/js/generalChart.js') }}"></script>
    <link href="{{ asset('charts/generalChart.css') }}" rel="stylesheet">
    <link href="{{ asset('base/button.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="temperature border_charts">

            <canvas id="myChartTemp"></canvas>
        </div>
        <div class="pollution border_charts">
            <canvas id="myChartPollution"></canvas>

        </div>
        <div class="humidity border_charts">
            <canvas id="myChartHumidity"></canvas>

        </div>
        <div class="pressure border_charts">
            <canvas id="myChartPressure"></canvas>

        </div>

    </div>
    <div class="buttons">
        <div class="button">
            <a href="#" onclick="changeTypeOfChart(true);return false;">Parametry Wewnętrzne</a>
        </div>
        <div class="button">
            <a href="#" onclick="changeTypeOfChart(false);return false;">Parametry Zewnętrzne</a>
        </div>
    </div>
    <a href="{{ path('menuCharts') }}">
        <div class="back_button" style="position:absolute;top: 840px;height: 150px;left: 40px;">


        </div>
    </a>


{% endblock %}
