{% extends "base/base.html.twig" %}

{% block head %}

    <link href="{{ asset('weather/style.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}



    <div class="weather_container">

        {% for key,weather_daily in content %}
            <div class="day_weather">
                <div class="day">
                    Łódź dnia {{ key }}
                </div>
                <div class="temperature">
                    Temperatura: {{ weather_daily.temp }}
                </div>

                <div class="icon">
                    <img src="{{ weather_daily.icon }}" alt="">
                </div>

                <div class="clouds">
                    Chmury: {{ weather_daily.clouds }}
                </div>

                <div class="wind_speed">
                    Prędkość wiatru: {{ weather_daily.wind_speed }}
                </div>
                <div class="direction">
                    Kierunek: {{ weather_daily.direction }}
                </div>
                <div class="rain">

                    {% if weather_daily.precipitation != 0.0 %}
                        Deszcz: {{ weather_daily.precipitation }} mm
                    {% endif %}
                </div>



            </div>
        {% endfor %}


    </div>

    <div class="weather_container microcontroler">
        <div class="inside">
            <div class="header_inside"> Wewnątrz budynku :</div>
            <div class="temperature">
                Temperatura: {{ inside.temperature }} °C
            </div>
            <div class="humidity">
                Wilgotność: {{ inside.humidity }} %
            </div>
            <div class="pressure">
                Ciśnienie: {{ inside.pressure }} hPa
            </div>

            <div class="update">
                Ostatni pomiar: {{ inside.createdAt|date('Y-m-d H:i') }}
            </div>
        </div>
        <div class="outside">
            <div class="header_inside"> Na zewnątrz budynku :</div>
            <div class="temperature">
                Temperatura: {{ outside.temperature }} °C
            </div>
            <div class="humidity">
                Wilgotność: {{ outside.humidity }} %
            </div>
            <div class="pressure">
                Ciśnienie: {{ outside.pressure }} hPa
            </div>
            <div class="update">
                Ostatni pomiar : {{ outside.createdAt|date('Y-m-d H:i') }}
            </div>

            <div class="pollution">
                PM2.5: {{ outside.pm25 }} µg/m3
                PM10: {{ outside.pm10 }} µg/m3
            </div>

            <div class="update">
                Ostatni pomiar zanieczyszczenia : {{ outside.createdAtPollution|date('Y-m-d H:i') }}
            </div>

        </div>
    </div>
    <a href="{{ path('homepage') }}">
        <div class="back_button" style="position:absolute;top: 870px;height: 150px;left: 40px;">


        </div>


    </a>
{% endblock %}