{% extends "base/base.html.twig" %}

{% block head %}

    <link href="{{ asset('weather/style.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}

    <a href="{{ path('homepage') }}">
        <div class="back_button">


        </div>


    </a>

    <div class="weather_container">

        {% for weather_daily in content %}
        <div class="day_weather">
            Temperatura : {{ weather_daily.temp }}
           <img src="{{ weather_daily.icon }}" alt="">
            Chmury : {{ weather_daily.clouds }}
            Prędkość wiatru: {{ weather_daily.wind_speed }}
            Kierunek :{{ weather_daily.direction }}


        </div>
        {% endfor %}


    </div>

{% endblock %}