{% extends "base/base.html.twig" %}
{% block head %}

    <link href="{{ asset('news/news_style.css') }}" rel="stylesheet">
    <link href="{{ asset('base/button.css') }}" rel="stylesheet">
    <script>

        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
        }
    </script>
{% endblock %}
{% block content %}


    {#{{ dump(content) }}#}



    <div class="news_container">
        {% for posts in content %}
            {#            {{ dump(posts.getCategoryId().getSlug()) }}#}
            {% for post in posts.posts %}
                {#            {{ dump(post) }}#}


                <div class="news_item">

                    <div class="title">{{ post.title|raw }}</div>


                    <div class="date"> {{ post.date|raw|date("m-d-Y  H:i") }}</div>


                    <div class="excerpt">
                        {{ post.excerpt|raw }}
                    </div>

                    <div class="link">
                        <div class="button">
                            {#szerokosc 1024
                            wysokos 1280
                            #}
                            <a href="#"
                               target="popup"
                               onclick="window.open('{{ post.link|raw }}','liveMatches','directories=no,titlebar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=1000,height=700 left=340 top=212');
                                       return false;">
                                Kliknij po więcej
                            </a>
                        </div>
                    </div>

                </div>

            {% endfor %}
        {% endfor %}
    </div>

    <div class="news_container facebook">
        {% for posts in facebook['data'] %}

            {# jesli jest zadeklarowana, to wyswietlamy. mialem sytuacje gdy nei byla i nie ma sensu wyswietlac bez wiadomosci#}
            {% if posts.message is defined %}

                <div class="news_item">


                    <div class="date"> {{ posts.created_time|raw|date("m-d-Y  H:i") }}</div>


                    <div class="excerpt">
                        {{ posts.message|raw }}
                    </div>
                    <div class="container1">
                        <img class="modal-hover-opacity picture" src="{{ posts.full_picture }}"
                             style="max-width:100%;cursor:pointer"
                             onclick="onClick(this)" alt="obrazek">
                    </div>
                    <div class="link">
                        <div class="button">
                            <a href="#"
                               target="popup"
                               onclick="window.open('{{ posts.link|raw }}','liveMatches','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=1000,height=700 left=340 top=212');
                                       return false;">
                                Kliknij po więcej
                            </a>
                        </div>
                    </div>

                </div>
            {% endif %}
        {% endfor %}


        <div id="modal01" class="modal" onclick="this.style.display='none'">
            <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="modal-content">
                <img id="img01" style="max-width:100%" alt="obrazek" src="#">
            </div>
        </div>
    </div>
    <a href="{{ path('homepage') }}">
        <div class="back_button" style="position:absolute;top: 874px;height: 150px;left: 50px;">


        </div>
    </a>
{% endblock %}